<!DOCTYPE html>
<html>
	<head>
		<title>The generics</title>
		<meta name="description" content=" this is the description">
		<link rel="stylesheet" href="style.css"> 
	</head>
	<body>
		<header class="main-header">
			<nav class="nav main-nav">
			<ul>
				<li> <a type="button" href={% url 'home' %} class="btn btn-primary btn-lg btn-block">HOME</a></li>
				<li> <a type="button" href={% url 'store' %} class="btn btn-primary btn-lg btn-block">STORE</a></li>
				<li> <a type="button" href={% url 'about' %} class="btn btn-primary btn-lg btn-block">ABOUT</a></li>
			</ul>
			</nav>
		<h1>The Generics</h1>
		</header>
		<h2>ABOUT</h2>
		<section>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolorum nulla accusantium perferendis quam explicabo odit quisquam ea natus? Saepe ducimus, minima error alias dolorum consectetur officia architecto voluptatem iure sunt eveniet nam, recusandae explicabo, itaque vel autem. Accusamus suscipit sit labore sed blanditiis a est rem harum expedita veritatis numquam voluptatibus dolore voluptatum sunt repellendus explicabo, excepturi beatae perferendis. Numquam dicta quis ipsum explicabo suscipit alias placeat, ea, vero minus ducimus voluptatibus iste repellendus deleniti? Eos, quas! Voluptatem tempora explicabo, corrupti dolor hic iure quo, ipsum voluptates quaerat omnis accusamus et vel, necessitatibus doloribus optio. Odio nobis ad molestias.</p>
		<img src="Band members.png">
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio qui consequuntur aut. Nobis debitis ipsum soluta sit itaque officiis impedit maiores suscipit magni id harum consequuntur quas delectus culpa, saepe nostrum, autem ullam! Assumenda molestiae reprehenderit sunt ducimus id saepe porro vitae asperiores eum accusantium? Illum aliquid excepturi magni quos.</p>
		</section>
	</body>
	<footer>
		<h3>The generics</h3>
			<ul>
				<li><a href="https://facebook.com"><img src="Facebook Logo.png"></a></li>
				<li><a href="https://spotify.com"><img src="Spotify Logo.png"></a></li>
				<li><a href="https://youtube.com"><img src="Youtube Logo.png"></a></li>>
			</ul>
	</footer>
</html>