<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<header>
			<nav>
			<ul>
				<li> <a type="button" href={% url 'home' %} class="btn btn-primary btn-lg btn-block">HOME</a></li>
				<li> <a type="button" href={% url 'store' %} class="btn btn-primary btn-lg btn-block">STORE</a></li>
				<li> <a type="button" href={% url 'about' %} class="btn btn-primary btn-lg btn-block">ABOUT</a></li>
			</ul>
			</nav>
		</header>
		<hr>
		<h1>The Generics</h1>
		<button role="button">Get our latest album</button>
		<br>
		<br>
		<button role="button">&#9658</button>
		<h2>TOURS</h2>
		<section>
			<div>
				<div>
					<strong>JUL 16</strong>
					&lt;&gt;
					CSK VS KXIP
					&lt;&gt;
					DHARAMSALA
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
				<hr>
				<div>
					<strong>JUL 19</strong>
					&lt;&gt;
					CSK VS DD
					&lt;&gt;
					DELHI
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
				<hr>
				<div>
					<strong>JUL 22</strong>
					&lt;&gt;
					MI VS CSK
					&lt;&gt;
					CHENNAI
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
				<hr>
				<div>
					<strong>JUL 29</strong>
					&lt;&gt;
					CSK VS RCB
					&lt;&gt;
					BANGLORE
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
				<hr>
				<div>
					<strong>AUG 2</strong>
					&lt;&gt;
					CSK VS KKR
					&lt;&gt;
					KOLKATA
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
				<hr>
				<div>
					<strong>AUG 7</strong>
					&lt;&gt;
					CSK VS SRH
					&lt;&gt;
					HYDERABAD
					&lt;&gt;
					<button role="button">BUY TICKETS</button>
				</div>
			</div>
		</section>
	</body>
	<footer>
		<h3>The generics</h3>
			<ul>
				<li><a href="https://facebook.com"><img src="Facebook Logo.png"></a></li>
				<li><a href="https://spotify.com"><img src="Spotify Logo.png"></a></li>
				<li><a href="https://youtube.com"><img src="Youtube Logo.png"></a></li>
			</ul>
	</footer>
</html>