html,body{
    margin: 0;
    padding: 0;
}


.main-header{
    background-color: rgba(0,0,0, 0.6);
    background-image: url("smoke.png");
    background-size: cover;
    padding: .5em;
    padding bottom: 30px;
}

.nav li{
    display: inline;
}


.nav ul{
    margin: 0;
}

.nav a{
    color: white;
    padding: 0 .5em;
    text-decoration: none;
}

.main-nav{
    font-size: 1.1em;
    text-align: center;
}

.nav a:hover{
    color: rgba(255,255,255, 0.3);
}